<a href="https://colab.research.google.com/github/KHNdeaf/Repositorio-electiva/blob/main/talleres/Taller_GEIH_2025_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="text-align: center; color: green;">
    <h1>Taller mercado laboral GEIH 2025</h1>
    <h4> Interpretar y explicar textualmente todas las respuesta, la presentaci√≥n de las respuestas queda a criterio del estudiante</h4>
</div>

## Importando librerias

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

## Leer los modulos  necesarios para el calculo de los indicadores de Mercado Laboral:
* Caracteristicas generales, seguridad social en salud y educacion
* Ocupados
* Fuerza de trabajo
* No ocupados

In [2]:
#Caracteristicas generales, seguridad social en salud y educacion

# Links a los conjuntos de datos
url_cgsse = 'https://github.com/KHNdeaf/Repositorio-electiva/raw/refs/heads/main/datos/GEIH2025/CGSSE.CSV'
url_ocupados = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2024/Ocupados.CSV'
url_desocupados = 'https://github.com/KHNdeaf/Repositorio-electiva/raw/refs/heads/main/datos/GEIH2025/No%20ocupados.CSV'
url_ft = 'https://github.com/KHNdeaf/Repositorio-electiva/raw/refs/heads/main/datos/GEIH2025/Fuerza%20de%20trabajo.CSV'
url_mig = 'https://github.com/KHNdeaf/Repositorio-electiva/raw/refs/heads/main/datos/GEIH2025/Migraci%C3%B3n.CSV'


# CGSSE
df_cgsse = pd.read_csv(url_cgsse, encoding='latin-1', sep=';',
                       low_memory=False)
#Ocupados
df_ocupados=pd.read_csv(url_ocupados,encoding='latin-1',sep=';',
                        low_memory=False)
#No ocupados
df_desocupados=pd.read_csv(url_desocupados,encoding='latin-1',sep=';',
                        low_memory=False)
#Fuerza de trabajo
df_ft=pd.read_csv(url_ft,encoding='latin-1',sep=';',low_memory=False)

## Revisar que los  modulos esten cargados correctamente

In [3]:
# CGSSE
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20250105,1,2025,8086872,1,1,1,10,NaN,2,...,2.0,NaN,3.0,5.0,NaN,NaN,NaN,1.0,2.0,1.0
1,20250105,1,2025,8086874,1,1,1,10,NaN,2,...,2.0,NaN,3.0,5.0,NaN,NaN,NaN,1.0,2.0,1.0
2,20250105,1,2025,8086874,1,2,1,10,NaN,2,...,2.0,NaN,4.0,4.0,NaN,NaN,NaN,2.0,1.0,1.0
3,20250105,1,2025,8086874,1,3,1,10,NaN,2,...,2.0,NaN,4.0,4.0,NaN,NaN,NaN,2.0,1.0,1.0
4,20250105,1,2025,8086875,1,1,1,10,NaN,2,...,2.0,NaN,10.0,10.0,213.0,7.0,213.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67852,20250103,1,2025,8115687,1,1,1,10,95.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
67853,20250103,1,2025,8115688,1,1,1,10,95.0,1,...,1.0,2.0,13.0,6.0,313.0,9.0,313.0,2.0,1.0,1.0
67854,20250103,1,2025,8115688,1,2,1,10,95.0,1,...,2.0,NaN,12.0,4.0,413.0,9.0,413.0,1.0,2.0,1.0
67855,20250103,1,2025,8115688,1,3,1,10,95.0,1,...,1.0,2.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
67856,20250103,1,2025,8115688,1,4,1,10,95.0,1,...,1.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print(df_cgsse.columns.tolist())

['PERIODO', 'MES', 'PER', 'DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'HOGAR', 'REGIS', 'AREA', 'CLASE', 'FEX_C18', 'DPTO', 'PT', 'P6016', 'P3271', 'P6040', 'P6030S1', 'P6030S3', 'P6050', 'P6083', 'P6083S1', 'P6081', 'P6081S1', 'P2057', 'P2059', 'P2061', 'P6080', 'P6080S1', 'P6080S1A1', 'P6070', 'P6071', 'P6071S1', 'P6090', 'P6100', 'P6110', 'P6120', 'P1906S1', 'P1906S2', 'P1906S3', 'P1906S4', 'P1906S5', 'P1906S6', 'P1906S7', 'P1906S8', 'P6160', 'P6170', 'P3041', 'P3042', 'P3042S1', 'P3042S2', 'P3043', 'P3043S1', 'P3038', 'P3039', 'POB_MAY18']

In [5]:
#Ocupados
df_ocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P514,P515,P1881,P1882,P7240,OCI,INGLABO,RAMA2D_R4,RAMA4D_R4,OFICIO_C8
0,20240730,7,2024,7858603,1,1,1,60,NaN,2,...,1,1,13,50.0,3,1,480000.0,1,161,9211
1,20240730,7,2024,7858603,1,3,1,60,NaN,2,...,2,1,12,15.0,3,1,640000.0,47,4711,5221
2,20240730,7,2024,7858604,1,1,1,60,NaN,2,...,2,2,3,10.0,8,1,400000.0,47,4781,9520
3,20240730,7,2024,7858604,1,2,1,60,NaN,2,...,1,1,3,20.0,5,1,600000.0,3,312,6222
4,20240730,7,2024,7858605,1,1,1,60,NaN,2,...,1,1,12,25.0,3,1,700000.0,1,161,9211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29924,20240728,7,2024,7889224,1,1,1,60,76.0,1,...,1,1,5,90.0,8,1,1050000.0,97,9700,9111
29925,20240729,7,2024,7889226,1,1,1,60,88.0,1,...,1,1,10,15.0,8,1,3000000.0,77,7729,5249
29926,20240730,7,2024,7889227,1,1,1,60,88.0,1,...,1,1,11,10.0,3,1,1750000.0,61,6110,7422
29927,20240730,7,2024,7889227,1,3,1,60,88.0,1,...,1,1,11,10.0,3,1,2000000.0,55,5511,1411
29928,20240730,7,2024,7889227,1,4,1,60,88.0,1,...,1,1,11,10.0,3,1,1600000.0,55,5511,4224

In [6]:
print(df_ocupados.columns.tolist())

['PERIODO', 'MES', 'PER', 'DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'HOGAR', 'REGIS', 'AREA', 'CLASE', 'FEX_C18', 'DPTO', 'FT', 'P3044S2', 'P6440', 'P6450', 'P6460', 'P6460S1', 'P6400', 'P6410', 'P6422', 'P6420S2', 'P6424S1', 'P6424S2', 'P6424S3', 'P6424S5', 'P6426', 'P6430', 'P6430S1', 'P3045S1', 'P3045S2', 'P3045S3', 'P3046', 'P3363', 'P9440', 'P6500', 'P3364', 'P3364S1', 'P6510', 'P6510S1', 'P6510S2', 'P6590', 'P6590S1', 'P6600', 'P6600S1', 'P6610', 'P6610S1', 'P6620', 'P6620S1', 'P6585S1', 'P6585S1A1', 'P6585S1A2', 'P6585S2', 'P6585S2A1', 'P6585S2A2', 'P6585S3', 'P6585S3A1', 'P6585S3A2', 'P6585S4', 'P6585S4A1', 'P6585S4A2', 'P6545', 'P6545S1', 'P6545S2', 'P6580', 'P6580S1', 'P6580S2', 'P6630S1', 'P6630S1A1', 'P6630S2', 'P6630S2A1', 'P6630S3', 'P6630S3A1', 'P6630S4', 'P6630S4A1', 'P6630S6', 'P6630S6A1', 'P6640', 'P6640S1', 'P1800', 'P1800S1', 'P1801S1', 'P1801S2', 'P1801S3', 'P1802', 'P3047', 'P3048', 'P3049', 'P6765', 'P6765S1', 'P3051', 'P3051S1', 'P3052', 'P3052S1', 'P3053', 'P3365', 'P3365S1', 'P3054', 'P3054S1', 'P3055', 'P3055S1', 'P3056', 'P3057', 'P6760', 'P3058S1', 'P3058S2', 'P3058S3', 'P3058S4', 'P3058S5', 'P3059', 'P3061', 'P3062S1', 'P3062S2', 'P3062S3', 'P3062S4', 'P3062S5', 'P3062S6', 'P3062S7', 'P3062S8', 'P3062S9', 'P3063', 'P3063S1', 'P3064', 'P3064S1', 'P3065', 'P3066', 'P3067', 'P3067S1', 'P3067S2', 'P6775', 'P3068', 'P6750', 'P3073', 'P550', 'P6780', 'P6780S1', 'P1879', 'P1805', 'P6790', 'P6800', 'P6810', 'P6810S1', 'P6850', 'P6830', 'P6830S1', 'P3366', 'P3069', 'P6880', 'P6880S1', 'P6915', 'P6915S1', 'P6920', 'P6930', 'P6940', 'P6960', 'P6990', 'P9450', 'P7020', 'P760', 'P7026', 'P7028', 'P7028S1', 'P1880', 'P1880S1', 'P7040', 'P7045', 'P7050', 'P7070', 'P7075', 'P7077', 'P7090', 'P7100', 'P7110', 'P7120', 'P7130', 'P7140S1', 'P7140S2', 'P7140S3', 'P7140S4', 'P7140S5', 'P7140S6', 'P7140S7', 'P7140S8', 'P7140S9', 'P7150', 'P7160', 'P7170S1', 'P7170S5', 'P7170S6', 'P7180', 'P514', 'P515', 'P1881', 'P1882', 'P7240', 'OCI', 'INGLABO', 'RAMA2D_R4', 'RAMA4D_R4', 'OFICIO_C8']

In [7]:
#No ocupados
df_desocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P7360,P9460,P1519,P1883,P7422,P7422S1,OFICIO1_C8,OFICIO2_C8,RAMA2D_D_R4,RAMA4D_D_R4
0,20250105,1,2025,8086874,1,1,1,70,NaN,2,...,8.0,2.0,2,NaN,2,NaN,.,5223,31.0,3110
1,20250105,1,2025,8086875,1,1,1,70,NaN,2,...,10.0,2.0,3,NaN,2,NaN,.,2330,85.0,8530
2,20250105,1,2025,8086876,1,1,1,70,NaN,2,...,7.0,2.0,2,NaN,2,NaN,.,5223,31.0,3110
3,20250105,1,2025,8086878,1,3,1,70,NaN,2,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
4,20250105,1,2025,8086879,1,1,1,70,NaN,2,...,1.0,2.0,2,NaN,2,NaN,.,9111,97.0,9700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25748,20250103,1,2025,8115678,1,2,1,70,95.0,1,...,10.0,2.0,2,NaN,2,NaN,4110,4110,84.0,8413
25749,20250103,1,2025,8115679,1,1,1,70,95.0,1,...,10.0,2.0,3,NaN,2,NaN,.,3344,86.0,8621
25750,20250103,1,2025,8115681,1,1,1,70,95.0,1,...,10.0,2.0,2,NaN,1,4000000.0,.,4110,84.0,8413
25751,20250103,1,2025,8115681,1,3,1,70,95.0,1,...,10.0,2.0,1,1.0,1,3865000.0,.,2635,84.0,8413
25752,20250103,1,2025,8115688,1,2,1,70,95.0,1,...,10.0,2.0,1,2.0,1,3700000.0,.,1219,84.0,8412

In [8]:
print(df_desocupados.columns.tolist())

['PERIODO', 'MES', 'PER', 'DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'HOGAR', 'REGIS', 'AREA', 'CLASE', 'FEX_C18', 'DPTO', 'FFT', 'DSI', 'P7250', 'P7280', 'P7280S1', 'P744', 'P3074', 'P7260', 'P1806', 'P7430', 'P7440', 'P7440S1', 'P7440S2', 'P7450', 'P7350', 'P7360', 'P9460', 'P1519', 'P1883', 'P7422', 'P7422S1', 'OFICIO1_C8', 'OFICIO2_C8', 'RAMA2D_D_R4', 'RAMA4D_D_R4']

In [9]:
#Fuerza de trabajo
df_ft

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3362S8,P3362S7A1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,20250105,1,2025,8086872,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250105,1,2025,8086874,1,1,1,50,NaN,2,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20250105,1,2025,8086874,1,2,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20250105,1,2025,8086874,1,3,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250105,1,2025,8086875,1,1,1,50,NaN,2,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54065,20250103,1,2025,8115685,1,1,1,50,95.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54066,20250103,1,2025,8115686,1,1,1,50,95.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54067,20250103,1,2025,8115687,1,1,1,50,95.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54068,20250103,1,2025,8115688,1,1,1,50,95.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54069,20250103,1,2025,8115688,1,2,1,50,95.0,1,...,NaN,NaN,1.0,3.0,NaN,1.0,2.0,NaN,NaN,NaN

In [10]:
print(df_ft.columns.tolist())

['PERIODO', 'MES', 'PER', 'DIRECTORIO', 'SECUENCIA_P', 'ORDEN', 'HOGAR', 'REGIS', 'AREA', 'CLASE', 'FEX_C18', 'DPTO', 'FT', 'FFT', 'PET', 'P6240', 'P6240S1', 'P6240S2', 'P6250', 'P6260', 'P6260S1', 'P6260S1A1', 'P6260S2', 'P6270', 'P6280', 'P3362S1', 'P3362S2', 'P3362S3', 'P3362S4', 'P3362S5', 'P3362S6', 'P3362S7', 'P3362S8', 'P3362S7A1', 'P6300', 'P6310', 'P6310S1', 'P6320', 'P6330', 'P6340', 'P6350', 'P6351']

<div style="text-align: center; color: blue;">
    <h2>Analisis de la estructura de los datos</h2>
</div>

-----------------------
1. **Caracteristicas generales, seguridad social en salud y educacion** : Este modulo contiene caracteristicas generales de la poblacion y datos relevantes de la muestra representativa (hogares, viviendas, personas) sobre la cual el dane recolecta informacion. Este es el modulo mas general y sera el modulo base a partir del cual iremos a√±adiendo los demas modulos.
----
2. **Fuerza de trabajo** : Contiene informacion relevante para el analisis de la fuerza de trabajo, aqui se encuentran todas las personas en edad de trabajar y a este modulo se deben unir el modulo ocupados y no ocupados para calcular las tasas de desempleo y ocupaci√≥n
----
3. **Ocupados**: En este modulo solo se incluye informacion de personas que ,en el modulo fuerza de trabajo fueron identificadas como poblaci√≥n ocupada.
----

4. **No ocupados**: En este modulo solo se incluye informacion de personas que ,en el modulo fuerza de trabajo fueron identificadas como poblaci√≥n no ocupada (Desempleados).

-----------------------
Definiciones clave:
-----------------------
Poblaci√≥n total (PT) ‚Üí todas las personas en la base, sumando con el factor de expansi√≥n.

 ùëÉùëá = ‚àë ùëìùëíùë• ùëê_2025
----
Poblaci√≥n en edad de trabajar (PET) ‚Üí personas de 12 a√±os o m√°s en zonas urbanas, y 10 a√±os o m√°s en zonas rurales.

 ùëÉùê∏ùëá = ‚àë ùëìùëíùë•ùëê_2025  ( ùëíùëëùëéùëë ‚â• 12 )
----
Poblaci√≥n que no est√° en edad de trabajar (PNEET) ‚Üí menores de edad.

 ùëÉùëÅùê∏ùê∏ùëá = ùëÉùëá ‚àí ùëÉùê∏ùëá
----
Poblaci√≥n econ√≥micamente activa (PEA) ‚Üí personas de la PET que est√°n ocupadas o desocupadas (buscando trabajo).

 ùëÉùê∏ùê¥ = ùëÇùëêùë¢ùëùùëéùëëùëúùë† + ùê∑ùëíùë†ùëúùëêùë¢ùëùùëéùëëùëúùë†
----
Poblaci√≥n econ√≥micamente inactiva (PEI) ‚Üí personas de la PET que no est√°n buscando ni trabajando (estudiantes, oficios del hogar, pensionados, etc.).

 ùëÉùê∏ùêº = ùëÉùê∏ùëá ‚àí ùëÉùê∏ùê¥
----
Tasa de ocupaci√≥n (TO) ‚Üí proporci√≥n de ocupados respecto a la PET.

 ùëáùëÇ = ( ùëÇùëêùë¢ùëùùëéùëëùëúùë† / ùëÉùê∏ùëá ) √ó 100
----
Tasa de desempleo (TD) ‚Üí proporci√≥n de desocupados respecto a la PEA.

 ùëáùê∑ = ( ùê∑ùëíùë†ùëúùëêùë¢ùëùùëéùëëùëúùë† / ùëÉùê∏ùê¥ ) √ó 100

----

1.	Para el total nacional calcule :

*   poblaci√≥n total
*   poblaci√≥n en edad de trabajar
*   poblaci√≥n que no est√° en edad de trabajar
*   poblaci√≥n econ√≥micamente activa
*   poblaci√≥n econ√≥micamente inactiva
*   tasa de ocupaci√≥n
*   tasa de desempleo

<div style="text-align: center; color: blue;">
    <h1> 1. Caracteristicas generales, seguridad social en salud y educacion</h1>
    
   <a href="https://microdatos.dane.gov.co/index.php/catalog/853/study-description">Diccionario de datos Caracteristicas generales, seguridad social en salud y educacion </a>
</div>

## Calcular poblaci√≥n total

In [11]:
PT =  df_cgsse['FEX_C18'].sum()
print(f' La poblaci√≥n total de referencia para Colombia basado en el modulo cgsse de la GEIH y el factor de expansi√≥n es {PT}')

 La poblaci√≥n total de referencia para Colombia basado en el modulo cgsse de la GEIH y el factor de expansi√≥n es 51831448.99998394

## Calcular poblaci√≥n total : hombres y mujeres

In [12]:
# P3271 : Cu√°l fue su sexo al nacer? Masculino: 1 Femenino: 2

PH = df_cgsse[df_cgsse['P3271']==1]['FEX_C18'].sum()
PM = df_cgsse[df_cgsse['P3271']==2]['FEX_C18'].sum()
print(f' Hombres : {PH}')
print(f' Mujeres:  {PM}')

 Hombres : 25206758.999992575
 Mujeres:  26624689.999991357

In [13]:
PH/PT*100

np.float64(48.6321711746866)

In [14]:
PM/PT*100

np.float64(51.36782882531339)

In [15]:
#CALCULAR POBLACION TOTAL
#DPTO : departamento

PTQ = df_cgsse[df_cgsse['DPTO'] == 63]['FEX_C18'].sum()
PTQ

np.float64(588142.145421593)

In [17]:
#Calculando cantidad de hombres y de mujeres
PHQ = df_cgsse[(df_cgsse['DPTO']==63) & (df_cgsse['P3271']==1)]['FEX_C18'].sum()
PMQ = df_cgsse[(df_cgsse['DPTO']==63) & (df_cgsse['P3271']==2)]['FEX_C18'].sum()
print(f' Hombres : {PHQ}')
print(f' Mujeres :  {PMQ}')

 Hombres : 291333.656481214
 Mujeres :  296808.488940379

In [18]:
#Porcentaje de hombres
PHQ/PTQ*100

np.float64(49.5345655381285)

In [19]:
#Porcentaje de mujeres

PMQ/PTQ*100

np.float64(50.4654344618715)

## Calcular poblaci√≥n en edad de trabajar

In [20]:
# P6040 :  ¬øcu√°ntos a√±os cumplidos tiene...?
df_cgsse[df_cgsse['P6040']>=15]['FEX_C18'].sum()

np.float64(40424865.9999899)

## Calcular poblaci√≥n en edad de trabajar : Hombres y Mujeres

In [21]:
# P6040 :  ¬øcu√°ntos a√±os cumplidos tiene...?
PETH=df_cgsse[(df_cgsse['P6040']>=15) & (df_cgsse['P3271']==1)]['FEX_C18'].sum()
PETM=df_cgsse[(df_cgsse['P6040']>=15) & (df_cgsse['P3271']==2)]['FEX_C18'].sum()
print(f' PET Hombres : {PETH}')
print(f' PET Mujeres:  {PETM}')

 PET Hombres : 19392655.999995723
 PET Mujeres:  21032209.99999417

<div style="text-align: center; color: blue;">
    <h1> 2. Fuerza de trabajo   </h1>
    
   <a href="https://microdatos.dane.gov.co/index.php/catalog/853/data-dictionary/F12?file_name=Fuerza%20de%20trabajo">Fuerza de trabajo </a>
   
</div>

## Cantidad de personas en el dataset fuerza de trabajo : PET

In [22]:
#PET : Poblacion en edad de trabajar ? 1: si
PET=df_ft[df_ft['PET']==1]['FEX_C18'].sum()
# Coincide con -> df_ft['FEX_C18'].sum()
print(f'Poblaci√≥n en edad de trabajar {PET}')

Poblaci√≥n en edad de trabajar 40424865.9999899

## Cantidad de personas en el dataset fuerza de trabajo : PEA

In [23]:
#FT: Pertenece a la PEA: .sum()si: 1
PEA=df_ft[(df_ft['FT']==1)]['FEX_C18'].sum()
print(f'Poblaci√≥n Economicamente Activa {PEA}')

Poblaci√≥n Economicamente Activa 25918749.952818472

## PEI

In [28]:
#PEI = PET - PEA
#FFT Pertenece a la PEI  si:1
PEI=df_ft[(df_ft['FFT']==1)]['FEX_C18'].sum()
print(f'Poblaci√≥n Economicamente Inactiva (PEI): {PEI}')

Poblaci√≥n Economicamente Inactiva (PEI): 14506116.047171421

<div style="text-align: center; color: blue;">
    <h1> 3. Ocupados  </h1>
   
   <a href="https://microdatos.dane.gov.co/index.php/catalog/853/data-dictionary/F10?file_name=Ocupados">Ocupados</a>
</div>

## Cantidad de personas en el dataset Ocupados

In [40]:
#OCI : Ocupado ? 1:si
O=df_ocupados[(df_ocupados['OCI']==1)]['FEX_C18'].sum()
print(f'Poblaci√≥n Ocupada {O}')

Poblaci√≥n Ocupada 23202982.915268056

<div style="text-align: center; color: blue;">
    <h1> 4. No Ocupados  </h1>
   
   <a href="https://microdatos.dane.gov.co/index.php/catalog/853/data-dictionary/F14?file_name=No%20ocupados"> No Ocupados</a>
</div>

## Cantidad de personas en el dataset No Ocupados

In [42]:
#OCI : Ocupado ? 1:si
D=df_desocupados[(df_desocupados['DSI']==1)]['FEX_C18'].sum()
print(f'Poblaci√≥n No ocupada {D}')

Poblaci√≥n No ocupada 3015915.241868741

# Tasa de ocupacion

In [45]:
TO=O/PET*100
print(f' Tasa de ocupacion {round(TO,1)}')

 Tasa de ocupacion 57.4

# Tasa de desempleo

In [44]:
TD=D/PEA*100
print(f' Tasa de desempleo : {round(TD,1)}')

 Tasa de desempleo : 11.6