<a href="https://colab.research.google.com/github/KHNdeaf/Repositorio-electiva/blob/main/talleres/Taller_GEIH_2025_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="text-align: center; color: green;">
    <h1>Taller mercado laboral GEIH 2025</h1>
    <h4> Interpretar y explicar textualmente todas las respuesta, la presentaci√≥n de las respuestas queda a criterio del estudiante</h4>
</div>

## Importando librerias

In [6]:
import pandas as pd
import numpy as np
from pathlib import Path

## Leer los modulos  necesarios para el calculo de los indicadores de Mercado Laboral:
* Caracteristicas generales, seguridad social en salud y educacion
* Ocupados
* Fuerza de trabajo
* No ocupados
* Migracion

In [7]:
#Caracteristicas generales, seguridad social en salud y educacion

# Links a los conjuntos de datos
url_cgsse = 'https://github.com/KHNdeaf/Repositorio-electiva/raw/refs/heads/main/datos/GEIH2025/CGSSE.CSV'
url_ocupados = 'https://raw.githubusercontent.com/niconomist98/DataAnalyticsUQ/main/Datos/GEIH2024/Ocupados.CSV'
url_desocupados = 'https://github.com/KHNdeaf/Repositorio-electiva/raw/refs/heads/main/datos/GEIH2025/No%20ocupados.CSV'
url_ft = 'https://github.com/KHNdeaf/Repositorio-electiva/raw/refs/heads/main/datos/GEIH2025/Fuerza%20de%20trabajo.CSV'
url_mig = 'https://github.com/KHNdeaf/Repositorio-electiva/raw/refs/heads/main/datos/GEIH2025/Migraci%C3%B3n.CSV'


# CGSSE
df_cgsse = pd.read_csv(url_cgsse, encoding='latin-1', sep=';',
                       low_memory=False)
#Ocupados
df_ocupados=pd.read_csv(url_ocupados,encoding='latin-1',sep=';',
                        low_memory=False)
#No ocupados
df_desocupados=pd.read_csv(url_desocupados,encoding='latin-1',sep=';',
                        low_memory=False)
#Fuerza de trabajo
df_ft=pd.read_csv(url_ft,encoding='latin-1',sep=';',low_memory=False)

#Migracion
df_mig=pd.read_csv(url_mig,encoding='latin-1',sep=';',low_memory=False)

## Revisar que los  modulos esten cargados correctamente

In [8]:
# CGSSE
df_cgsse

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P6170,P3041,P3042,P3042S1,P3042S2,P3043,P3043S1,P3038,P3039,POB_MAY18
0,20250105,1,2025,8086872,1,1,1,10,NaN,2,...,2.0,NaN,3.0,5.0,NaN,NaN,NaN,1.0,2.0,1.0
1,20250105,1,2025,8086874,1,1,1,10,NaN,2,...,2.0,NaN,3.0,5.0,NaN,NaN,NaN,1.0,2.0,1.0
2,20250105,1,2025,8086874,1,2,1,10,NaN,2,...,2.0,NaN,4.0,4.0,NaN,NaN,NaN,2.0,1.0,1.0
3,20250105,1,2025,8086874,1,3,1,10,NaN,2,...,2.0,NaN,4.0,4.0,NaN,NaN,NaN,2.0,1.0,1.0
4,20250105,1,2025,8086875,1,1,1,10,NaN,2,...,2.0,NaN,10.0,10.0,213.0,7.0,213.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67852,20250103,1,2025,8115687,1,1,1,10,95.0,1,...,2.0,NaN,5.0,2.0,NaN,2.0,NaN,2.0,1.0,1.0
67853,20250103,1,2025,8115688,1,1,1,10,95.0,1,...,1.0,2.0,13.0,6.0,313.0,9.0,313.0,2.0,1.0,1.0
67854,20250103,1,2025,8115688,1,2,1,10,95.0,1,...,2.0,NaN,12.0,4.0,413.0,9.0,413.0,1.0,2.0,1.0
67855,20250103,1,2025,8115688,1,3,1,10,95.0,1,...,1.0,2.0,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
67856,20250103,1,2025,8115688,1,4,1,10,95.0,1,...,1.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#Ocupados
df_ocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P514,P515,P1881,P1882,P7240,OCI,INGLABO,RAMA2D_R4,RAMA4D_R4,OFICIO_C8
0,20240730,7,2024,7858603,1,1,1,60,NaN,2,...,1,1,13,50.0,3,1,480000.0,1,161,9211
1,20240730,7,2024,7858603,1,3,1,60,NaN,2,...,2,1,12,15.0,3,1,640000.0,47,4711,5221
2,20240730,7,2024,7858604,1,1,1,60,NaN,2,...,2,2,3,10.0,8,1,400000.0,47,4781,9520
3,20240730,7,2024,7858604,1,2,1,60,NaN,2,...,1,1,3,20.0,5,1,600000.0,3,312,6222
4,20240730,7,2024,7858605,1,1,1,60,NaN,2,...,1,1,12,25.0,3,1,700000.0,1,161,9211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29924,20240728,7,2024,7889224,1,1,1,60,76.0,1,...,1,1,5,90.0,8,1,1050000.0,97,9700,9111
29925,20240729,7,2024,7889226,1,1,1,60,88.0,1,...,1,1,10,15.0,8,1,3000000.0,77,7729,5249
29926,20240730,7,2024,7889227,1,1,1,60,88.0,1,...,1,1,11,10.0,3,1,1750000.0,61,6110,7422
29927,20240730,7,2024,7889227,1,3,1,60,88.0,1,...,1,1,11,10.0,3,1,2000000.0,55,5511,1411
29928,20240730,7,2024,7889227,1,4,1,60,88.0,1,...,1,1,11,10.0,3,1,1600000.0,55,5511,4224

In [10]:
#No ocupados
df_desocupados

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P7360,P9460,P1519,P1883,P7422,P7422S1,OFICIO1_C8,OFICIO2_C8,RAMA2D_D_R4,RAMA4D_D_R4
0,20250105,1,2025,8086874,1,1,1,70,NaN,2,...,8.0,2.0,2,NaN,2,NaN,.,5223,31.0,3110
1,20250105,1,2025,8086875,1,1,1,70,NaN,2,...,10.0,2.0,3,NaN,2,NaN,.,2330,85.0,8530
2,20250105,1,2025,8086876,1,1,1,70,NaN,2,...,7.0,2.0,2,NaN,2,NaN,.,5223,31.0,3110
3,20250105,1,2025,8086878,1,3,1,70,NaN,2,...,NaN,NaN,2,NaN,2,NaN,.,.,NaN,.
4,20250105,1,2025,8086879,1,1,1,70,NaN,2,...,1.0,2.0,2,NaN,2,NaN,.,9111,97.0,9700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25748,20250103,1,2025,8115678,1,2,1,70,95.0,1,...,10.0,2.0,2,NaN,2,NaN,4110,4110,84.0,8413
25749,20250103,1,2025,8115679,1,1,1,70,95.0,1,...,10.0,2.0,3,NaN,2,NaN,.,3344,86.0,8621
25750,20250103,1,2025,8115681,1,1,1,70,95.0,1,...,10.0,2.0,2,NaN,1,4000000.0,.,4110,84.0,8413
25751,20250103,1,2025,8115681,1,3,1,70,95.0,1,...,10.0,2.0,1,1.0,1,3865000.0,.,2635,84.0,8413
25752,20250103,1,2025,8115688,1,2,1,70,95.0,1,...,10.0,2.0,1,2.0,1,3700000.0,.,1219,84.0,8412

In [11]:
#Fuerza de trabajo
df_ft

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3362S8,P3362S7A1,P6300,P6310,P6310S1,P6320,P6330,P6340,P6350,P6351
0,20250105,1,2025,8086872,1,1,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20250105,1,2025,8086874,1,1,1,50,NaN,2,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20250105,1,2025,8086874,1,2,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20250105,1,2025,8086874,1,3,1,50,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20250105,1,2025,8086875,1,1,1,50,NaN,2,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54065,20250103,1,2025,8115685,1,1,1,50,95.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54066,20250103,1,2025,8115686,1,1,1,50,95.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54067,20250103,1,2025,8115687,1,1,1,50,95.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54068,20250103,1,2025,8115688,1,1,1,50,95.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54069,20250103,1,2025,8115688,1,2,1,50,95.0,1,...,NaN,NaN,1.0,3.0,NaN,1.0,2.0,NaN,NaN,NaN

In [12]:
#Migracion
df_mig

,PERIODO,MES,PER,DIRECTORIO,SECUENCIA_P,ORDEN,HOGAR,REGIS,AREA,CLASE,...,P3382S3,P3383,P3384,P3384S1,P3384S2,P3384S3,P3385,P3386,P3386S1,P3375
0,20250105,1,2025,8086872,1,1,1,94,NaN,2,...,.,2.0,2,.,.,.,2.0,NaN,NaN,NaN
1,20250105,1,2025,8086874,1,1,1,94,NaN,2,...,.,2.0,2,.,.,.,2.0,NaN,NaN,NaN
2,20250105,1,2025,8086874,1,2,1,94,NaN,2,...,.,1.0,2,.,.,.,2.0,NaN,NaN,NaN
3,20250105,1,2025,8086874,1,3,1,94,NaN,2,...,.,2.0,2,.,.,.,2.0,NaN,NaN,NaN
4,20250105,1,2025,8086875,1,1,1,94,NaN,2,...,.,2.0,2,.,.,.,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67852,20250103,1,2025,8115687,1,1,1,94,95.0,1,...,.,1.0,2,.,.,.,1.0,NaN,NaN,NaN
67853,20250103,1,2025,8115688,1,1,1,94,95.0,1,...,.,1.0,2,.,.,.,1.0,NaN,NaN,NaN
67854,20250103,1,2025,8115688,1,2,1,94,95.0,1,...,.,1.0,2,.,.,.,1.0,NaN,NaN,NaN
67855,20250103,1,2025,8115688,1,3,1,94,95.0,1,...,.,1.0,2,.,.,.,1.0,NaN,NaN,NaN
67856,20250103,1,2025,8115688,1,4,1,94,95.0,1,...,.,NaN,2,.,.,.,1.0,NaN,NaN,NaN